<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Senate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="./main.css" type="text/css" rel="stylesheet" />
</head>

<body>
    
    <div class="container-xl">
        <!-- navbar -->
        <header class="header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top pt-0 px-0 pb-0 m-0">
                <div class="container-fluid p-0 d-flex flex-lg-column justify-content-between align-items-start ">
                    <div class="navbar-brand col-lg-12 d-flex flex-row justify-content-between px-2 pb-1">
                        <div class="spacing d-flex align-items-center">
                            <img class="img-fluid logo" src="./assets/img/icon2.png" width="30" alt="icon">
                            <span class="h3 align-self-center m-0 ms-1 bold">Data Insight Group</span>

                        </div>
                        <p class="d-none d-lg-block text-info pt-0 m-0"><a class="nav-link font-green m-0"
                                href="mailto:info@datainsightgroup.net"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope text-dark me-1 mb-1" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                  </svg>info@datainsightgroup.net</a>
                        </p>
                    </div>
                    <button class="navbar-toggler mt-1" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="bg-green collapse navbar-collapse border-dark col-lg-12"
                        id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex ps-2">
                            <li class="nav-item me-1">
                                <a class="nav-link lead font-green" aria-current="page" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item dropdown me-1">
                                <a class="nav-link dropdown-toggle font-green active" href="#" id="navbarScrollingDropdown1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Congress 113
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                                    <li><a class="dropdown-item" href="./house-data.html">House</a></li>
                                    <li><a class="dropdown-item active" href="#">Senate</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown me-1">
                                <a class="nav-link dropdown-toggle font-green" href="#" id="navbarScrollingDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Attendance
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                                    <li><a class="dropdown-item" href="./house-attendance.html">House</a></li>
                                    <li><a class="dropdown-item" href="./senate-attendance.html">Senate</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown me-1">
                                <a class="nav-link dropdown-toggle font-green" href="#" id="navbarScrollingDropdown3" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Party Loyalty
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown3">
                                    <li><a class="dropdown-item" href="./house-party.html">House</a></li>
                                    <li><a class="dropdown-item" href="./senate-party.html">Senate</a></li>
                                </ul>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a class="nav-link font-green" href="#">info@datainsightgroup.net</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- space navbar -->
            <div class="space-navbar">
            </div>
        </header>
        <!-- main -->
        <main class="main mb-2 mb-lg-4 pb-1 pb-lg-0" id="main">
            {{filterByParty}}
            <div class="container-fluid text-center text-lg-start mt-2 mt-lg-4 mb-5 mb-lg-0 pt-lg-3">
                <h4 class="bold pt-lg-3">Senators</h4>
                <p class=" pt-lg-0 mt-1">First convened in 1789, the composition and powers of the Senate are
                    established in Article One of
                    the U.S. Constitution. Each state is represented by two senators, regardless of population, who
                    serve staggered six-year terms. The Senate has several exclusive powers not granted to the House,
                    including consenting to treaties as a precondition to their ratification and consenting to or
                    confirming appointments of Cabinet secretaries, federal judges, other federal executive officials,
                    military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well
                    as trial of federal officials impeached by the House.</p>
                <!-- form -->
                <form class="d-lg-flex flex-nowrap justify-content-center">
                    <div class="input-group mb-2" id="checkboxesSenate">
                        <span class="input-group-text bold border border-secondary bg-green-two">Party</span>
                        <div class="input-group-text bold">
                            <label for="democrat" class="bold">D</label>
                            <input class="form-check-input ms-2 mb-1" type="checkbox" value="D"
                                aria-label="Checkbox for following text input" id="democrat" v-model="checkboxes">
                        </div>
                        <div class="input-group-text bold">
                            <label for="republican">R</label>
                            <input class="form-check-input ms-2 mb-1" type="checkbox" value="R"
                                aria-label="Checkbox for following text input" id="republican" v-model="checkboxes">
                        </div>
                        <div class="input-group-text bold">
                            <label for="independent">ID</label>
                            <input class="form-check-input ms-2 mb-1" type="checkbox" value="ID"
                                aria-label="Checkbox for following text input" id="independent" v-model="checkboxes">
                        </div>
                    </div>
                    <div id="selectSenate" class="input-group mb-2">
                        <span class="input-group-text border border-secondary bg-green-two bold">State</span>
                        <select class="form-select bold" id="selectH" v-model="select">
                            <option value="" selected>All states</option>
                            <option value="HI">HI</option>
                            <option value="NY">NY</option>
                            <option value="AR">AR</option>
                            <option value="CO">CO</option>
                            <option value="VA">VA</option>
                            <option value="CA">CA</option>
                            <option value="ME">ME</option>
                            <option value="TX">TX</option>
                            <option value="NJ">NJ</option>
                            <option value="IL">IL</option>
                            <option value="OH">OH</option>
                            <option value="WI">WI</option>
                            <option value="MA">MA</option>
                            <option value="OR">OR</option>
                            <option value="FL">FL</option>
                            <option value="LA">LA</option>
                            <option value="NC">NC</option>
                            <option value="GA">GA</option>
                            <option value="NE">NE</option>
                            <option value="AL">AL</option>
                            <option value="NV">NV</option>
                            <option value="PA">PA</option>
                            <option value="GU">GU</option>
                            <option value="MI">MI</option>
                            <option value="OK">OK</option>
                            <option value="KY">KY</option>
                            <option value="MD">MD</option>
                            <option value="AL">AL</option>
                            <option value="DE">DE</option>
                            <option value="WA">WA</option>
                            <option value="TN">TN</option>
                            <option value="NC">NC</option>
                            <option value="PR">PR</option>
                            <option value="VI">VI</option>
                            <option value="CT">CT</option>
                            <option value="SC">SC</option>
                            <option value="ND">ND</option>
                            <option value="MS">MS</option>
                            <option value="AS">AS</option>
                            <option value="IN">IN</option>
                            <option value="AZ">AZ</option>
                            <option value="IA">IA</option>
                            <option value="RI">RI</option>
                            <option value="MT">MT</option>
                            <option value="KS">KS</option>
                            <option value="NM">NM</option>
                            <option value="WV">WV</option>
                            <option value="ID">ID</option>
                            <option value="MO">MO</option>
                            <option value="NH">NH</option>
                            <option value="VT">VT</option>
                        </select>
                    </div>
                </form>
                <!-- table -->
                <div class="table-responsive-lg">

                    <table class="table table-dark table-hover align-middle table-borderless mb-0" id="house-data">
                        <caption class="pb-1 text-center text-dark bold" id="caption"></caption>
                        <colgroup>
                            <col span="1" class="table-col">
                            <col span="4" class="table-cols">
                        </colgroup>
                        <thead class="table-dark table-group-divider text-center text-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Party</th>
                                <th scope="col">State</th>
                                <th scope="col">Years in Office</th>
                                <th scope="col">% Votes w/ Party</th>
                            </tr>
                        </thead>
                        <tbody id="table-house" class="table-group-divider text-center">
                            <template v-if="memberChamber.length == 0">
                                <tr>
                                    <td colspan="5">
                                        <div class="d-flex justify-content-center">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            <template v-else v-for="member in filteredMembers">
                                <tr>
                                    <td><a class="font-green" v-bind:href="member.url" target="_blank">{{member.first_name}}
                                            {{member.middle_name}} {{member.last_name}}</a></td>
                                    <td>{{member.party}}</td>
                                    <td>{{member.state}}</td>
                                    <td>{{member.seniority}}</td>
                                    <td>{{member.votes_with_party_pct}} {{"%"}}</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <template v-if="filteredMembers.length > 15">
                    <div  class="d-flex justify-content-center" id="go-to-top"><a class="btn btn-primary bg-green-two mb-4" href="#" role="button">Go to Top</a></div>
                </template>
                
            </div>
            
        </main>
        <!-- footer -->
        <footer class="footer fixed-bottom bg-white pt-0">
            <div
                class="bg-green  container-fluid text-center d-flex justify-content-center align-items-center p-2">
                <span class="font-green">
                    Ⓒ 2022 Data Insight Group | All Rights Reserved
                </span>
            </div>
        </footer>
    </div>
   
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>

</html>